<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.camposha.kotlinmysqlcrud">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/add_blue"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.DashboardActivity" android:theme="@style/HomeTheme">
        </activity>
        <activity
            android:name=".views.ScientistsActivity"
            android:label="Scientists "
            android:parentActivityName=".views.DashboardActivity" />
        <activity
            android:name=".views.CRUDActivity"
            android:theme="@style/CRUDTheme"
            android:label="CRUD Page "
            android:parentActivityName=".views.DashboardActivity" />
        <activity
            android:name=".views.DetailActivity"
            android:label="Details Page "
            android:parentActivityName=".views.DashboardActivity" />
    </application>

</manifest>